###### Requirements Without Version Specifier #######

Python == Python-3.8.1
Flask == Flask-1.1.2
Jinja2 == Jinja2-2.11.3
MarkupSafe == MarkupSafe-1.1.1
Werkzeug == Werkzeug-1.0.1
click == click-7.1.2
itsdangerous == itsdangerous-1.1.0